@import '@/styles/_variables.scss';

.menu {
  background: $color-light;
  height: 80vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90;
  overflow: hidden;
  transform: translateY(0);
  transition-property: all;
  transition-duration: 350ms;
  --tw-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 10px 15px -3px var(--tw-shadow-color),
    0 4px 6px -4px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000),
    var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

    &__container {
      height: 100%;
      display: flex;
      grid-column: span 3 / span 3;
      flex-direction: column;
      text-transform: uppercase;
      padding: $spacing-large;

      &-title {
        font-size: $font-9xl;
      }

      ul {
        list-style: none;

        li {
          text-transform: uppercase;
          font-size: $font-4xl;
          line-height: 2.5rem;

          button {
            text-transform: uppercase;
          }
        }
      }
    }

  &.menu__hidden {
    transform: translateY(-100%);
    box-shadow: none;
  }

  &__overlay {
    position: absolute;
    top: 0;
    width: 100vw;
    height: 100vh;
    left: 0;
    z-index: 89;
    overflow-y: hidden;
    background-color: $color-dark;
    opacity: 0.3;
  }
}
