@import '@/styles/_variables.scss';

.cursor {
  @include respond-to($breakpoint-lg) {
    height: 25px;
    width: 25px;
    border-radius: 20px;
    background: $color-dark;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    left: 0;
    top: 0;
    z-index: 10000;

    pointer-events: none;
    border: 0.5px $color-dark solid;

    filter: invert(1);
    mix-blend-mode: difference;
  }
}
